.categories{
    margin-top: 130px;
}

.categories-banner{
    width: 80%;
    max-width: 1200px;
    aspect-ratio: 655/282;
    display: grid;
    place-items: center;
    margin: 0 auto;
}

.categories-banner > img{
    width: 100%;
    max-width: 1000px;
    margin: 2rem auto;
}

.shop-by-header{
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

.uling{
    position: relative;
    padding-inline-start: 0;
}

.uling > a {
    position: absolute;
    top: .5rem;
    left: -5rem;
    font-size: large;
    text-decoration: underline;
}


.shop-by-header > h1{
    text-align: center;
}

.categories > ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 5rem;
}

.categories > ul > li{
    padding: .5rem 1rem;
    border: 1px solid rgb(112, 112, 112);
    cursor: pointer;
}

.product-grid{
    justify-content: center;
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 1rem;
}

.product-grid > *{
    width: 25%;
}

@media (max-width: 900px){
    .uling{
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem !important;
    }
    .uling > a{
        position: static;
        align-self: center;
        justify-self: center;
    }
}

@media (max-width: 650px){
    .product-grid > *{
        width: 45%;
    }
}