.home-container{
    max-width: 1300px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 130px;
}

.home-container > div {
    padding: 2rem;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "home home skin top"
    "home home skin bot";
    gap: 1rem;
    min-height: 500px;
}

.filter{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: background-color .3s ease-in-out;
}

.filter:hover{
    background-color: rgba(0, 0, 0, .35);
    transition: background-color .3s ease-in-out;
}

.home-grid > div{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0,0 , .5)
}

.home-grid > div > p{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1.5rem;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.home {
    background-image: url("../data/img/homeGrid/home.jpg");
    grid-area: home;
}

.skin {
    background-image: url("../data/img/homeGrid/skin.jpg");
    grid-area: skin;
}

.kitchen {
    background-image: url("../data/img/homeGrid/kitchen.jpg");
    grid-area: top;
}

.electronics {
    background-image: url("../data/img/homeGrid/electronics.webp");
    grid-area: bot;
}

.headliner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products-slider{
    width: 100%;
    max-width: 1115px;
    align-self: center;
}

.splide__arrow{
    transform: scale(2);
}

.splide__arrow--next{
    right: -3rem;
    top: 23.6%;
    border-radius: 0;
    height: 46.9%;
}

.splide__arrow--prev{
    left: -3rem;
    top: 23.6%;
    border-radius: 0;
    height: 46.9%;
}

.featured-products{
    display: flex;
}

.featured-products > *{
    width: 50%;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: rgb(222, 222, 222);
}

.description > button {
    background-color: black;
    color: white;
    border: none;
    font-weight: 700;
    font-size: large;
    padding: 1rem 1.5rem;
}