.home-container{
    max-width: 1300px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 130px;
}

.home-container > div {
    padding: 2rem;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "home home skin top"
    "home home skin bot";
    gap: 1rem;
    min-height: 500px;
}

.filter{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: background-color .3s ease-in-out;
}

.filter:hover{
    background-color: rgba(0, 0, 0, .35);
    transition: background-color .3s ease-in-out;
}

.home-grid > div{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0,0 , .5)
}

.home-grid > div > a > p{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1.5rem;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.home {
    background-image: url("../data/img/homeGrid/home.jpg");
    grid-area: home;
}

.skin {
    background-image: url("../data/img/homeGrid/skin.jpg");
    grid-area: skin;
}

.kitchen {
    background-image: url("../data/img/homeGrid/kitchen.jpg");
    grid-area: top;
}

.electronics {
    background-image: url("../data/img/homeGrid/electronics.webp");
    grid-area: bot;
}

.featured-products{
    display: flex;
}

.featured-products > *{
    width: 50%;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: rgb(222, 222, 222);
}

.description > a {
    background-color: black;
    color: white;
    border: none;
    font-weight: 700;
    font-size: large;
    padding: 1rem 1.5rem;
}

.finance-banner{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.gift{
    background-color: black;
    color: white;
}

.gift > *{
    text-align: center;
    padding: 1rem;
}

.gift > h1{
    font-size: calc(2vw + 15px);
    font-weight: 500;
}

.gift > p{
    font-size: calc(1vw + 10px);
    font-weight: 300;
}

@media (max-width: 930px){
    .home-grid{
        grid-template-areas:
        "home skin"
        "bot top";
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 750px){
    .featured-products{
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
    }

    .featured-products > *{
        width: 100%;
    }

    .description{
        padding: 1rem;
    }

    .featured-products > img{
        width: calc(100% + 2rem);
        max-height: 400px;
        object-fit: cover;
    }

    .finance-banner{
        padding: 1rem !important;
    }
}

@media (max-width: 700px){
    .home-container > div{
        padding: .5rem;
    }

    .finance-banner{
        width: calc(100% + 1rem);
        align-self: center;
    }
}

@media (max-width: 650px){

    .home-grid > div > a > p{
        font-size: 25px;
        margin: .5rem;
    }

}