nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > a > img {
    width: 400px;
    height: auto;
}

nav > ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 1.5rem;
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: center;
    z-index: 999;
}

.navbar-scrolled{
    height: 90px;
    transition: height .3s ease-in-out;
}

.navbar-default{
    height: 120px;
    transition: height .3s ease-in-out;
}

nav > ul > li:nth-child(3){
    transform: scale(1.2);
    margin-top: .2rem;
    cursor: pointer;
}

.overflower{
    height: 0px;
}

.overlay{
    z-index: 1000;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: all .3s ease-in-out;
}

.none {
    transition: all .3s ease-in-out;
    display: none;
}

.sidebar{
    transition: all .3s ease-in-out;
    z-index: 1001;
    top: 0;
    right: 0;
    position: fixed;
    width: 35vw;
    height: 100%;
    background-color: white;
    transform: translateX(0%);
}

.sidebar-hidden{
    transform: translateX(100%);
    transition: all .3s ease-in-out;
}