nav {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > a > img {
    width: 400px;
    height: auto;
}

nav > ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 1.5rem;
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: center;
    z-index: 999;
}

.navbar-scrolled{
    height: 70px;
    transition: height .3s ease-in-out;
}

.navbar-default{
    height: 120px;
    transition: height .3s ease-in-out;
}

nav > ul > li:nth-child(3){
    transform: scale(1.2);
    margin-top: .2rem;
    cursor: pointer;
}

.overflower{
    height: 0px;
}

.overlay{
    z-index: 1000;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: all .3s ease-in-out;
}

.none {
    transition: all .3s ease-in-out;
    display: none;
}

.sidebar{
    transition: all .3s ease-in-out;
    z-index: 1001;
    top: 0;
    right: 0;
    position: fixed;
    width: 500px;
    height: 100%;
    background-color: white;
    transform: translateX(0%);
    overflow-y: scroll;
    overflow-X: hidden;
}

.sidebar-hidden{
    transform: translateX(100%);
    transition: all .3s ease-in-out;
}

.shopping-cart-list{
    margin-top: 2rem;
}

.cart-prods{
    position: relative;
}

.linked{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin-bottom: 1rem;
    width: 90%;
}

.linked::after{
    content: " ";
    height: 3px;
    width: 90%;
    bottom: -.6rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: #919191;
}

.linked:hover{
    filter: brightness(90%);
    background-color: rgb(248, 248, 248);
}

.linked > img{
    width: 100px;
    height: auto;
}

.linked > h4{
    margin-right: auto;
}

.remove-item{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: .3rem;
    transform: scale(1.2);
    z-index: 999999;
}

.remove-item:hover{
    color: red;
}

.emptier{
    display: none;
}

.shown{
    display: block;
}

.checks{
    margin: 2rem 0 0 2rem;
}

.checks > button{
    padding: .75rem 1.5rem;
    background-color: black;
    color: rgb(245, 245, 245);
    font-size: large;
    letter-spacing: 2px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.checks > button:hover{
    color: black;
    background-color: rgb(245, 245, 245);
    transition: all .3s ease-in-out;
}

.shopping-icon{
    position: relative;
    cursor: pointer;
}

.shopping-icon > p{
    position: absolute;
    font-size: 15px;
    top: -30px;
    right: -14px;
    background-color: red;
    padding: 1px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    width: 18px;
}

.shopping-icon > p > span {
    margin-left: 4px;
}

.mobile{
    display: none;
}

#empty-shopping{
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#label-cart{
    position: absolute;
    top:62%;
    left: 51%;
    transform: translate(-50%, -50%);
    color: #7b7b7b;
    letter-spacing: 2px;
}

#closer{
    position: absolute;
    top: .6rem;
    right: .6rem;
    cursor: pointer;
    transform: scale(1.6);
    border: 1px solid rgb(99, 99, 99);
}

#shopping-header{
   text-align: center;
   font-weight: 600;
   letter-spacing: 1px;
   text-decoration: underline;
}

@media (max-width: 1200px){
    nav > a > img {
        width: 300px;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    .mobile-menu{
        display: flex;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        height: 0px;
        background-color: #ececec;
        border-top: 2px solid grey;
        transition: all .3s ease-in-out;
        z-index: -9999;
    }

    .mob-items{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        list-style: none;
        gap: 2rem;
        text-decoration: underline;
        opacity: 1 !important;
        transition: opacity .5s ease-in-out;
    }

    .translated{
        height: 200px;
        transition: all .3s ease-in-out;
    }

    .none2{
        opacity: 0;
    }

    #menu{
        cursor: pointer;
    }

    nav{
        width: 75%;
    }
}

@media (max-width: 700px){
    nav > a > img {
        width: 230px;
    }

    nav > ul{
        padding-inline-start: 0px;
    }

    nav{
        width: 90%;
    }

    #label-cart{
        top:66%;
    }
    
}

@media (max-width: 500px){
    .sidebar{
        width: 100%;
    }
}