.product-page{
    margin-top: 130px;
    display: flex;
    justify-content: center;
}
.item-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    width: 80%;
}

.item-container{
    max-width: 1200px;
    display: flex;
    background-color: #e8e8e8;
    position: relative;
}

.item-info{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    height: 80%;
    width: 70%;
}

.image-options{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: white;
    padding-right: 1rem;
}

.image-options > img {
    aspect-ratio: 1/1;
}

.other-images{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.other-images > *{
    box-sizing: border-box;
    width: 30%;
    object-fit: contain;
}

.quantity{
    display: flex;
    gap: 3rem;
    align-self: center;
    align-items: center;
    height: 100px;
}

.quantity > button{
    width: 50px !important;
    height: 50px;
    font-size: 50px;
}

.quantity > p{
    font-size: 30px;
}

.quantity > p:nth-child(3){
    font-size: 50px;
}

.item-info > button {
    width: 50%;
    height: 50px;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    font-size: 20px;
    cursor: pointer;
    align-self: center;
}

.item-info > p{
    font-size: 24px;
    font-weight: 500;
    text-indent: 3rem;
    line-height: 2rem;
}

.confirmation{
    position: fixed;
    top: 15%;
    right: 0%;
    width: 170px;
    height: 50px;
    z-index: 9;
    display: flex;
    gap: .75rem;
    background-color: green;
    align-items: center;
    transform: translateX(175px);
}

.confirmation > h4{
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-left: .2rem;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.confirmation > span{
    margin-top: 3px;
    display: block;
    color: rgb(255, 255, 255);
}

.confirmation-show{
    transform: translateX(175px);
    animation: sliding 2s ease-in-out;
}

.outline { 
    border: 1px solid black;
}

.specs{
    flex: 1 1 100%;
    display: flex;
    justify-content: space-around;
}

.specs > li{
    list-style: none;
    padding: 1.25rem 3rem;
    background-color: #e8e8e8;
    margin-bottom: 2rem;
}

@keyframes sliding {
    0%, 100%{
        transform: translateX(175px);
    }
    25%, 75%{
        transform: translateX(0px);
    }
}

#back-categories{
    width: fit-content;
    text-decoration: underline;
    font-size: larger;
    padding: 1rem;
}

@media (max-width: 980px){
    .item-container{
        flex-direction: column;
        align-items: center;
    }

    .image-options{
        width: 100%;
        order: 2;
    }

    .item-info > *{
        text-align: center;
    }

    .item-info{
        padding: .5rem;
        width: 100%;
    }

    .quantity > *{
        font-size: 20px !important;
    }

    .quantity{
        gap: 1rem;
    }

    .quantity > button{
        width: 35px !important;
    }

    .specs{
        gap: .5rem;
    }

    .specs > li{
        padding: .5rem 1rem;
    }
}